/* GRAYS --------------------------------------------------------- */ 
/* Adjust to vary the intensity of texts ans headings ------------ */

@gray-darker:            lighten(#000, 20%);
@gray-dark:              lighten(#000, 40%);
@gray:                   lighten(#000, 55%);
@gray-light:             lighten(#000, 70%);
@gray-lighter:           lighten(#000, 80%);

/* COLORS --------------------------------------------------------- */

@brand-primary:         @brand-concrete;	
@brand-success:         @brand-turquoise;	
@brand-info:            @brand-stone;	
@brand-warning:         @brand-asphalt;	
@brand-danger:          @brand-midnight;	 

/* COLORED BG -------------------------------------------------------- */ 

.bg-primary {
    .bg-clouds;
}
.bg-success {
    .bg-silver;
}
.bg-info {
    .bg-stone; 
}
.bg-warning {
    .bg-asphalt;
}
.bg-danger {
    .bg-midnight; 
}

/* TEXT & LINKS -------------------------------------------------------- */ 

@text-muted:        @brand-primary;
@link-color:        @brand-primary;
@link-hover-color:  @brand-info;

/* BUTTONS --------------------------------------------------------- */ 

@btn-primary-bg:                 @brand-concrete;
@btn-success-bg:                 @brand-blue;
@btn-info-bg:                    @brand-asphalt;
@btn-warning-bg:                 @brand-red;
@btn-danger-bg:                  @brand-red-dark;

.btn .fa {
	color: white;}

.btn-default .fa {
	color: @gray-dark;}

/* TRANSPARENT BG --------------------------------------------------- */
/* Used in snippets Prx Image Color and Prx Image Shade ------------- */

.bg-transparent-color 		{ background: @brand-stone; opacity: 0.9;} 
.bg-transparent-shade		{ background: black; opacity: 0.5;} 

/* Footer ----------------------------------------------------------- */

#wrapwrap footer {
   background-color: @brand-marine;
   color: @gray;
    }
footer ul li a {
	color: @brand-clouds;
	}	
footer ul li a:hover {
	color: white;
    text-decoration: none;
	}
footer h4 {
	color: @brand-silver;
	padding-bottom: 12px;
    text-transform: uppercase;
    }  
footer .fa {
    color: @brand-clouds; 
  }



