<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>Untitled Document</title>
<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="../../static/css/theme_clean_dark.css" />
<link rel="stylesheet" type="text/css" href="../../static/css/font-awesome.css" />

<script type="text/javascript" src="../../ScriptLibrary/jquery-latest.pack.js"></script>
<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
<script type="text/javascript" src="../../static/js/snippets/boxcarousel/boxcarousel.js"></script>


</head>

<body>

<div class="container">
<div class="row">

<div class="col-md-4">
<ul class="chd-event-list">
    <li>
		<time datetime="2014-07-20 0000">
		<span class="day">7</span>
		<span class="month">Jul</span>
		<span class="year">2014</span>
		<span class="time">12:00 AM</span>
		</time>
        <div class="info">
		<h4 class="title">Your Event Name</h4>
		<p class="desc">Desciption</p>
		<ul>
		<li style="width:50%;"><a href="#website"><span class="fa fa-globe"></span> Link</a></li>
		<li style="width:50%;"><span class="fa fa-info-circle"></span> Info</li>
		</ul>
		</div>
        <div class="social">
		<ul>
		<li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
		<li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
		<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
		</ul>
		</div>
	</li>
</ul>
 </div>

<div class="col-md-4">
<ul class="chd-event-list">
    <li>
		<time datetime="2014-07-20 0000">
		<span class="day">7</span>
		<span class="month">Jul</span>
		<span class="year">2014</span>
		<span class="time">12:00 AM</span>
		</time>
        <div class="info">
		<h4 class="title">Your Event Name</h4>
		<p class="desc">Desciption</p>
		<ul>
		<li style="width:50%;"><a href="#website"><span class="fa fa-globe"></span> Link</a></li>
		<li style="width:50%;"><span class="fa fa-info-circle"></span> Info</li>
		</ul>
		</div>
        <div class="social">
		<ul>
		<li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
		<li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
		<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
		</ul>
		</div>
	</li>
</ul>
 </div>

<div class="col-md-4">
<ul class="chd-event-list">
    <li>
		<time datetime="2014-07-20 0000">
		<span class="day">7</span>
		<span class="month">Jul</span>
		<span class="year">2014</span>
		<span class="time">12:00 AM</span>
		</time>
        <div class="info">
		<h4 class="title">Your Event Name</h4>
		<p class="desc">Desciption</p>
		<ul>
		<li style="width:50%;"><a href="#website"><span class="fa fa-globe"></span> Link</a></li>
		<li style="width:50%;"><span class="fa fa-info-circle"></span> Info</li>
		</ul>
		</div>
        <div class="social">
		<ul>
		<li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
		<li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
		<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
		</ul>
		</div>
	</li>
</ul>
 </div>


</div>
</div>


<!-- FULL Width -->

<div class="container">
<div class="row">

<div class="col-md-5">
<h2>A Section title</h2>
<h3>Resume with Section Subtitle</h3>
<p class="text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>

</div>

<div class="col-md-6 col-md-offset-1">
<ul class="chd-event-list">
    <li>
		<time datetime="2014-07-20 0000">
		<span class="day">7</span>
		<span class="month">Jul</span>
		<span class="year">2014</span>
		<span class="time">12:00 AM</span>
		</time>
        <div class="info">
		<h4 class="title">Your Event Name</h4>
		<p class="desc">Desciption</p>
		<ul>
		<li style="width:50%;"><a href="#website"><span class="fa fa-globe"></span> Link</a></li>
		<li style="width:50%;"><span class="fa fa-info-circle"></span> Info</li>
		</ul>
		</div>
        <div class="social">
		<ul>
		<li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
		<li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
		<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
		</ul>
		</div>
	</li>
</ul>
 </div>

<div class="col-md-6 col-md-offset-1">
<ul class="chd-event-list">                    
	<li>
		<time datetime="2014-07-20">
		<span class="day">18</span>
		<span class="month">Jul</span>
		<span class="year">2014</span>
		<span class="time">ALL DAY</span>
		</time>
		<img alt="Independence Day" src="/theme_clean/static/img/library/thumb/thumb_300x300.jpg" />
		<div class="info">
		<h4 class="title">Your Event Name</h4>
		<p class="desc">Desciption</p>
        <ul>
		<li style="width:50%;"><a href="#website"><span class="fa fa-globe"></span> Link</a></li>
		<li style="width:50%;"><span class="fa fa-info-circle"></span> Info</li>
		</ul>
		</div>
        <div class="social">
		<ul>
		<li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
		<li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
		<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
		</ul>
        </div>
	</li>
</ul>
</div>

<div class="col-md-6 col-md-offset-1">
<ul class="chd-event-list">                    
    <li>
		<time datetime="2014-07-20">
		<span class="day">21</span>
		<span class="month">Jul</span>
		<span class="year">2014</span>
		<span class="time">ALL DAY</span>
		</time>
		<div class="icon"><i class="fa fa-calendar fa-5x"></i></div>
		<div class="info">
		<h4 class="title">Your Event Name</h4>
		<p class="desc">Desciption</p>
        <ul>
		<li style="width:50%;"><a href="#website"><span class="fa fa-globe"></span> Link</a></li>
		<li style="width:50%;"><span class="fa fa-info-circle"></span> Info</li>
		</ul>
		</div>
		<div class="social">
		<ul>
		<li class="facebook" style="width:33%;">
		<a href="#facebook">
		<span class="fa fa-facebook">
		</span>
		</a>
		</li>
		<li class="twitter" style="width:34%;">
		<a href="#twitter">
		<span class="fa fa-twitter"></span></a>
		</li>
		<li class="google-plus" style="width:33%;"><a href="#google-plus">
		<span class="fa fa-google-plus"></span>
		</a>
		</li>
		</ul>
		</div>
	</li>
</ul>
</div>


</div>
</div>

<!-- DISCOUNT -->

  <div class="container">
	<div class="row">
    
        <div class="col-md-3 mt32">
          <div class="dl">
            <div class="brand">
                <h3>
                    DISCOUNT
                </h3>
            </div>
            <div class="discount bg-blue text-blue">
                30%
                <div class="type">
                    off
                </div>
            </div>
            <div class="descr">
                <strong>
                    Mei mucius gloriatur reprimique mollis*. 
                </strong> 
                Ad sonet perfecto antiopam mei, denique molestie ne has. 
            </div>
            <div class="ends">
                <small>
                    * Conditions and restrictions apply.
                </small>
            </div>
            <div class="coupon bg-blue text-blue">
                <a data-toggle="collapse" href="#code-1" class="open-code">Get a code</a>
                <div id="code-1" class="collapse code">
                    LV5MAY14
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt32">
          <div  class="dl">
            <div class="brand">
                <h3>
                    SPECIALS
                </h3>
            </div>
            <div class="discount bg-green text-green">
                50%
                <div class="type">
                    off
                </div>
            </div>
            <div class="descr">
                <strong>
                    Ea per iuvaret ocurreret*. 
                </strong> 
                sit ea detraxit menandri mediocritatem, in mel dicant mentitum. 
            </div>
            <div class="ends">
                <small>
                   * Conditions and restrictions apply.
                </small>
            </div>
            <div class="coupon bg-green text-green">
                <a data-toggle="collapse" href="#code-2" class="open-code">Get a code</a>
                <div id="code-2" class="collapse code">
                    MNO123ST
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt32">
          <div  class="dl">
            <div class="brand">
                <h3>
                    shipping
                </h3>
            </div>
            <div class="discount bg-purple text-purple">
            50$
                <div class="type">
                    worldwilde
                </div>
            </div>
            <div class="descr">
                <strong>
                     Solet consul tractatos ei pro*. 
                </strong> 
                Ei mei quot invidunt explicari, placerat percipitur intellegam.
            </div>
            <div class="ends">
                <small>
                   * Conditions and restrictions apply.
                </small>
            </div>
            <div class="coupon bg-purple text-purple">
                <a data-toggle="collapse" href="#code-3" class="open-code">Get a code</a>
                <div id="code-3" class="collapse code">
                    OLV4SY3R
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt32">
          <div  class="dl">
            <div class="brand">
                <h3>
                    GIFT CARDS
                </h3>
            </div>
            <div class="discount bg-orange text-orange">
                25%
                <div class="type">
                    off
                </div>
            </div>
            <div class="descr">
                <strong>
                    Cu aliquip persius alterum duo*. 
                </strong> 
                Possit equidem disputando usu et, sea invidunt scriptorem in. 
            </div>
            <div class="ends">
                <small>
                   * Conditions and restrictions apply.
                </small>
            </div>
            <div class="coupon bg-orange text-orange">
                <a data-toggle="collapse" href="#code-4" class="open-code">Get a code</a>
                <div id="code-4" class="collapse code">
                    ZUY4OPLQ
                </div>
            </div>
          </div>
        </div>
             
        
	</div>
  </div>
  
  
  <!-------------------------- -->
  
  <div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2>Nicole Pearson</h2>
                    <p><strong>About: </strong> Web Designer / UI. </p>
                    <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p>
                    <p><strong>Skills: </strong>
                        <span class="tags">html5</span> 
                        <span class="tags">css3</span>
                        <span class="tags">jquery</span>
                        <span class="tags">bootstrap3</span>
                    </p>
                </div>             
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                        <img src="/theme_clean/static/img/clean_id.png" alt="" class="img-circle img-responsive">
                        <figcaption class="ratings">
                            <p>Ratings
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                 <span class="fa fa-star-o"></span>
                            </a> 
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>            
            <div class="col-xs-12 divider text-center">
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong> 20,7K </strong></h2>                    
                    <p><small>Followers</small></p>
                    <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>245</strong></h2>                    
                    <p><small>Following</small></p>
                    <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <h2><strong>43</strong></h2>                    
                    <p><small>Snippets</small></p>
                    <div class="btn-group dropup btn-block">
                      <button type="button" class="btn btn-primary"><span class="fa fa-gear"></span> Options </button>
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu text-left" role="menu">
                        <li><a href="#"><span class="fa fa-envelope pull-right"></span> Send an email </a></li>
                        <li><a href="#"><span class="fa fa-list pull-right"></span> Add or remove from a list  </a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="fa fa-warning pull-right"></span>Report this user for spam</a></li>
                        <li class="divider"></li>
                        <li><a href="#" class="btn disabled" role="button"> Unfollow </a></li>
                      </ul>
                    </div>
                </div>
            </div>
    	 </div>                 
		</div>
	</div>
</div>


<div class="container">
<div class="row">

											<div class="col-md-4 tm-iconbox tm-style4 mt32 mb32">
											<div class="one-third tm-box">
												<div class="iconlist-icon">
													<span>
													<i class="fa fa-gear"></i>
													</span>
												</div>
												<div class="iconlist-entry">
													<div class="iconlist-container">
														<h3 class="tm-title">Easy to customize</h3>
														<div class="iconlist-content">
															<p>
																With user-friendly backend and extraordinary user experience, you will easily to customize the theme with no sweat.  
															</p>
															<a href="#" class="tm-btn">See More</a>
														</div>
													</div>
												</div>
											</div>
                                            </div>
                                            
											<div class="col-md-4 tm-iconbox tm-style4 mt32 mb32">
                                            <div class="one-third tm-box">
												<div class="iconlist-icon">
													<span>
													<i class="fa fa-magic"></i>
													</span>
												</div>
												<div class="iconlist-entry">
													<div class="iconlist-container">
														<h3 class="tm-title">Unlimited Colors</h3>
														<div class="iconlist-content">
															<p>
																You have the right to create whatever color scheme you like and apply to the layout of Fedora to create the best visual effect.  
															</p>
															<a href="#" class="tm-btn">See More</a>
														</div>
													</div>
												</div>
											</div>
                                            </div>
                                            
                                            <div class="col-md-4 tm-iconbox tm-style4 mt32 mb32">
											<div class="one-third tm-box last">
												<div class="iconlist-icon">
													<span>
													<i class="fa fa-thumbs-o-up"></i>
													</span>
												</div>
												<div class="iconlist-entry">
													<div class="iconlist-container">
														<h3 class="tm-title">Documentation & Support</h3>
														<div class="iconlist-content">
															<p> Along with the great features, Fedora is also equipped with the comprehensive documentation and helpful customer support . </p>
															<a href="#" class="tm-btn">See More</a>
														</div>
													</div>
												</div>
											</div>
                                            </div>
										

</div>
</div>

<!-- Box Carousel -->

<div class="container-fluid chd-container-fluid">
<div class="row-fluid">
<div class="col-md-12">

<h3>Bootstrap</h3>
<h4>Responsive Moving Box Carousel Demo</h4>

</div>
<div class="col-md-12">      
    <div class="boxcarousel slide" id="myCarousel">
        <div class="carousel-inner">
            <div class="item active">
                    <ul class="thumbnails">
                        <li class="col-md-3">
                            <div class="thumbnail">
                                <a href="#"><img src="/theme_clean/static/img/library/thumb/360x240.gif" alt=""/></a>
                            </div>
                            <div class="chd-caption">
                                <h4>Praesent commodo</h4>
                				<p>Nullam Condimentum Nibh Etiam Sem</p>
                                <a class="btn btn-mini" href="#">&raquo; Read More</a>
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="thumbnail">
                                <a href="#"><img src="/theme_clean/static/img/library/thumb/360x240.gif" alt=""/></a>
                            </div>
                            <div class="chd-caption">
                                <h4>Praesent commodo</h4>
                				<p>Nullam Condimentum Nibh Etiam Sem</p>
                                <a class="btn btn-mini" href="#">&raquo; Read More</a>
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="thumbnail">
                                <a href="#"><img src="/theme_clean/static/img/library/thumb/360x240.gif" alt=""/></a>
                            </div>
                            <div class="chd-caption">
                                <h4>Praesent commodo</h4>
                				<p>Nullam Condimentum Nibh Etiam Sem</p>
                                <a class="btn btn-mini" href="#">&raquo; Read More</a>
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="thumbnail">
                                <a href="#"><img src="/theme_clean/static/img/library/thumb/360x240.gif" alt=""/></a>
                            </div>
                            <div class="chd-caption">
                                <h4>Praesent commodo</h4>
                				<p>Nullam Condimentum Nibh Etiam Sem</p>
                                <a class="btn btn-mini" href="#">&raquo; Read More</a>
                            </div>
                        </li>
                    </ul>
              </div><!-- /Slide1 --> 
            <div class="item">
                    <ul class="thumbnails">
                        <li class="col-md-3">
                            <div class="thumbnail">
                                <a href="#"><img src="/theme_clean/static/img/library/thumb/360x240.gif" alt=""/></a>
                            </div>
                            <div class="chd-caption">
                                <h4>Praesent commodo</h4>
                				<p>Nullam Condimentum Nibh Etiam Sem</p>
                                <a class="btn btn-mini" href="#">&raquo; Read More</a>
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="thumbnail">
                                <a href="#"><img src="/theme_clean/static/img/library/thumb/360x240.gif" alt=""/></a>
                            </div>
                            <div class="chd-caption">
                                <h4>Praesent commodo</h4>
                				<p>Nullam Condimentum Nibh Etiam Sem</p>
                                <a class="btn btn-mini" href="#">&raquo; Read More</a>
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="thumbnail">
                                <a href="#"><img src="/theme_clean/static/img/library/thumb/360x240.gif" alt=""/></a>
                            </div>
                            <div class="chd-caption">
                                <h4>Praesent commodo</h4>
                				<p>Nullam Condimentum Nibh Etiam Sem</p>
                                <a class="btn btn-mini" href="#">&raquo; Read More</a>
                            </div>
                        </li>
                        <li class="col-md-3">
                            <div class="thumbnail">
                                <a href="#"><img src="/theme_clean/static/img/library/thumb/360x240.gif" alt=""/></a>
                            </div>
                            <div class="chd-caption">
                                <h4>LAST /// Praesent commodo</h4>
                				<p>Nullam Condimentum Nibh Etiam Sem</p>
                                <a class="btn btn-mini" href="#">&raquo; Read More</a>
                            </div>
                        </li>
                    </ul>
              </div><!-- /Slide2 -->  
        </div>
        
        <div class="chd-control-box">                            
            <a data-slide="prev" href="#myCarousel" class="chd-carousel-control left">‹</a>
            <a data-slide="next" href="#myCarousel" class="chd-carousel-control right">›</a>
        </div><!-- /.control-box -->   
                              
    </div><!-- /#myCarousel -->
        
</div><!-- /.span12 -->          
</div><!-- /.row --> 
</div><!-- /.container -->




</body>
</html>
