<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>Untitled Document</title>
<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="../../static/css/jquery.prettyPhoto.css" />
<link rel="stylesheet" type="text/css" href="../../static/css/theme_clean_dark.css" />
<link rel="stylesheet" type="text/css" href="../../static/css/font-awesome.css" />

<script type="text/javascript" src="../../ScriptLibrary/jquery-latest.pack.js"></script>
<script type="text/javascript" src="../../static/js/parallaxcontent.js"></script>
<script type="text/javascript" src="../../static/js/bootstrap-lightbox.js"></script>
<script type="text/javascript" src="../../static/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="../../static/js/bootstrap.js"></script>
</head>

<body>

<div class="col-md-4">
    <div class="lightbox-view lightbox-view-first">
    <img src="/theme_clean/static/img/library/thumb/thumb_600x300.jpg" class="thumbnail img-responsive" />
    <div class="lightbox-mask">
    <h2>Hover Style #1</h2>
    <p>A wonderful serenity has taken possession of my entire soul.</p>
    <a href="#" title="Image 1" class="lightbox-info">Read More</a>
    </div>
    </div>
    </div>  
                
                
<div class="col-md-4">
	  <div class="lightbox-view lightbox-view-first">
      <img src="/theme_clean/static/img/library/thumb/thumb_600x300.jpg" class="thumbnail img-responsive" />
      <div class="lightbox-mask">
      <h2>Hover Style #1</h2>
      <p>A wonderful serenity has taken possession of my entire soul.</p>
      <a href="#" title="Image 1" class="lightbox-info"></a>
      </div>
	  </div>
      </div>
       
                
                
<div class="col-md-4">
	  <div class="lightbox-view lightbox-view-first">
      <div class="lightbox-mask">
      <h2>Hover Style #1 </h2>
      <p>A wonderful serenity has taken possession of my entire soul.</p>
      <a href="#" title="Image 1" class="lightbox-info">
      <img src="/theme_clean/static/img/library/thumb/thumb_600x300.jpg" class="thumbnail img-responsive" />
      </a>
      </div>
	  </div>
      </div>
    
    <!-- Lightbox -->
        <div>
            <div class="oe_snippet_thumbnail">
                <img class="oe_snippet_thumbnail_img" src="/website/static/src/img/blocks/block_big_picture.png" />
                <span class="oe_snippet_thumbnail_title">Lightbox</span>
            </div>
      <section class="oe_snippet_body fw_categories test-lightbox">       
      	<div class="container">
		<div class="row">
    
      <div class="col-md-3 view view-first">
      <div class="mask">
                        <h2>Hover Style #1</h2>
                        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
      <a href="#" title="Image 1">
      <img src="../../static/img/library/thumb/thumb_600x300.jpg" class="thumbnail img-responsive info">
      </a>
      </div>
      </div>
      
      <div class="col-md-3">
      <a href="../../static/img/library/thumb/thumb_600x300.jpg/" title="Image 2">
      <img src="../../static/img/library/thumb/thumb_600x300.jpg" class="thumbnail img-responsive">
      </a>
      </div>
      
      <div class="col-md-3">
      <a href="../../static/img/library/thumb/thumb_600x300.jpg/" title="Image 3">
      <img src="../../static/img/library/thumb/thumb_600x300.jpg" class="thumbnail img-responsive">
      </a>
      </div>
      
      <div class="col-md-3">
      <a href="../../static/img/library/thumb/thumb_600x300.jpg/" title="Image 3">
      <img src="../../static/img/library/thumb/thumb_600x300.jpg" class="thumbnail img-responsive">
      </a>
      </div>
      
      
   		 </div>
		</div>
        
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3 class="modal-title">Heading</h3>
	</div>
	<div class="modal-body">
		
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
   </div>
			
          </div>
        </div>
		</section>
     </div>
		<!-- /Lightbox-->
    



        
<!-- Parallax Content -->

<!-- Typo Showcase -->		
		<div>
        <div class="oe_snippet_thumbnail">
            <img class="oe_snippet_thumbnail_img" src="/website/static/src/img/blocks/block_text.png"/>
            <span class="oe_snippet_thumbnail_title">Typo Showcase</span>
        </div>
        <section class="oe_snippet_body mt0 mb32 fw_categories mt64 mb64">       
        <div class="container">
          <div class="row">
        
        <div class="col-sm-12 mb32">
        <h1> H1 Heading - Elegant and Clean <a href="#">- Link</a> </h1> 
        <h2> H2 Heading - Elegant and Clean <a href="#">- Link</a> </h2> 
        <h3> H3 Heading - Elegant and Clean <a href="#">- Link</a> </h3> 
        <h4> H4 Heading - Elegant and Clean <a href="#">- Link</a> </h4> 
        <h5> H5 Heading - Elegant and Clean <a href="#">- Link</a> </h5> 
        <h6> H6 Heading - Elegant and Clean <a href="#">- Link</a> </h6> 
        <br/><br/>
        <h3 class="text-maj"> Uppercase Text - text-maj </h3>
        </div>
        
        <div class="col-sm-12 mb32">
        
        <div class="col-sm-3">
        <h5>Default</h5>
        <p> <a href="#">Lorem ipsum dolor sit amet</a>, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
        </div>
        
        <div class="col-sm-3">
        <h5>text-muted</h5>
        <p class="text-muted"> <a href="#">Lorem ipsum dolor sit amet</a>, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
        </div>
        
        <div class="col-sm-3 text-blue">
        <h5 class="text-blue">text-blue</h5>
        <p> <a href="#">Lorem ipsum dolor sit amet</a>, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
       </div>
       
       <div class="col-sm-3">
       <h5 class="text-green">text-green</h5>
        <p class="text-green"> <a href="#">Lorem ipsum dolor sit amet</a>, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
       </div>
       
       <div class="col-sm-3">
       <h5 class="text-yellow">text-yellow</h5>
        <p class="text-yellow"> <a href="#">Lorem ipsum dolor sit amet</a>, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
       </div>
       
       <div class="col-sm-3">
       <h5 class="text-orange">text-orange</h5>
        <p class="text-orange"> <a href="#">Lorem ipsum dolor sit amet</a>, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
       </div>
       
       
       <div class="col-sm-3">
       <h5 class="text-red">text-red</h5>
        <p class="text-red"> <a href="#">Lorem ipsum dolor sit amet</a>, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
       </div>
       
       <div class="col-sm-3">
       <h5 class="text-purple">text-purple</h5>
        <p class="text-purple"> <a href="#">Lorem ipsum dolor sit amet</a>, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
       </div>
       
       </div>
       
              <div class="col-sm-12 text-center mb32">
       <div class="col-sm-2"> 
         <button class="btn btn-default btn-block" type="button">Default</button>
       </div>
       <div class="col-sm-2"> 
         <button class="btn btn-primary" type="button">Primary</button>
       </div>
       <div class="col-sm-2"> 
         <button class="btn btn-info" type="button">Info</button>
       </div>
       <div class="col-sm-2"> 
         <button class="btn btn-success btn-lg" type="button">Success</button>
       </div>
       <div class="col-sm-2"> 
         <button class="btn btn-warning" type="button">Warning</button>
       </div>
       <div class="col-sm-2"> 
         <button class="btn btn-danger" type="button">Danger</button>
       </div>

       </div>
       
       <div class="col-sm-12 text-center text-muted">
       <div class="col-sm-2 bg-blue"><br/><i class="fa fa-pencil fa-2x"><h6 class="text-muted"> bg-blue</h6><br/></i></div>
        <div class="col-sm-2 bg-green"><br/><i class="fa fa-pencil fa-2x"><h6 class="text-muted"> bg-green</h6><br/></i></div>
        <div class="col-sm-2 bg-yellow"><br/><i class="fa fa-pencil fa-2x"><h6 class="text-muted"> bg-yellow</h6><br/></i></div>
        <div class="col-sm-2 bg-orange"><br/><i class="fa fa-pencil fa-2x"><h6 class="text-muted"> bg-orange</h6><br/></i></div>
        <div class="col-sm-2 bg-red"><br/><i class="fa fa-pencil fa-2x"><h6 class="text-muted"> bg-red</h6><br/></i></div>
        <div class="col-sm-2 bg-purple"><br/><i class="fa fa-pencil fa-2x"><h6 class="text-muted"> bg-purple</h6><br/></i></div>
       </div>
       
	   </div>
	   </div>
        </section>
    </div>
		<!-- /Typo Showcase -->
        
        
        	<!-- Portfolio Section -->
	<section id="clean-portfolio" class="container gray-bg">
		<!-- Portfolio Inner -->
		<div class="inner clean-portfolio">
			<!-- Header -->
			<h2 class="header text-maj">
				our clean-portfolio
			</h2>
			<!-- Header Strip(s) -->
			<div class="header-strips-one"></div>
			<!-- Header Description -->
			<h3 class="description">
				Lorem Ipsum is not simply random text.
			</h3>
		</div><!-- End Portfolio Inner -->

		<div class="clean-portfolio boxed text-center relative">

			<!-- Filters -->
			<div id="options" class="filter-menu fullwidth">
				<ul id="filters" class="option-set relative normal oswald uppercase" data-option-key="filter">
					<li><a href="#filter" data-option-value="*" class="selected">show all</a></li>
					<li><a href="#filter" data-option-value=".design"><span>design</span></a></li>
					<li><a href="#filter" data-option-value=".branding"><span>branding</span></a></li>
					<li><a href="#filter" data-option-value=".video"><span>video</span></a></li>
					<li><a href="#filter" data-option-value=".photography"><span>photography</span></a></li>
				</ul>
			</div>

			<!-- Portfolio Items -->
			<div class="clean-portfolio-items t-center">

				<!-- Item -->
				<div class="item boxed-item col-xs-4 photography branding">
					<!-- Item Inner -->
					<div class="item-inner">
						<!-- Item Link -->
						<a href="/theme_clean/static/img/backgrounds/clean/bg_clean_dark1.jpg" data-rel="prettyPhoto[portfolio]" class="work-image">
							<!-- Item Image -->
							<img src="/theme_clean/static/img/library/thumb/742x458.jpg" alt="" />
							<!-- Item Details -->
							<div class="item-details">
								<!-- Item Header -->
								<h4 class="text-maj">
									Lightbox 1
								</h4>
								<!-- Item Strips -->
								<span class="clean-portfolio-strips"></span>
								<!-- Item Description -->
								<p>
									branding
								</p>
							</div>
							<!-- End Item Details -->
						</a>
						<!-- End Item Link -->
					</div>
					<!-- End Item Inner -->
				</div>
				<!-- End Item -->


				<!-- Item -->
				<div class="item boxed-item col-xs-4 branding">
					<!-- Item Inner -->
					<div class="item-inner">
						<!-- Item Link -->
						<a href="#" class="work-image ex-link">
							<!-- Item Image -->
							<img src="../../static/img/library/thumb/742x458.jpg" alt="" />
							<!-- Item Details -->
							<div class="item-details">
								<!-- Item Header -->
								<h4 class="text-maj">
									Lightbox 2
								</h4>
								<!-- Item Strips -->
								<span class="clean-portfolio-strips"></span>
								<!-- Item Description -->
								<p>
									branding
								</p>
							</div>
							<!-- End Item Details -->
						</a>
						<!-- End Item Link -->
					</div>
					<!-- End Item Inner -->
				</div>
				<!-- End Item -->


				<!-- Item -->
				<div class="item boxed-item col-xs-4 branding">
					<!-- Item Inner -->
					<div class="item-inner">
						<!-- Item Link -->
						<a href="#" class="work-image ex-link">
							<!-- Item Image -->
							<img src="../../static/img/library/thumb/742x458.jpg" alt="" />
							<!-- Item Details -->
							<div class="item-details">
								<!-- Item Header -->
								<h4 class="text-maj">
									Lightbox 3
								</h4>
								<!-- Item Strips -->
								<span class="clean-portfolio-strips"></span>
								<!-- Item Description -->
								<p>
									branding
								</p>
							</div>
							<!-- End Item Details -->
						</a>
						<!-- End Item Link -->
					</div>
					<!-- End Item Inner -->
				</div>
				<!-- End Item -->


				<!-- Item -->
				<div class="item boxed-item col-xs-4 branding">
					<!-- Item Inner -->
					<div class="item-inner">
						<!-- Item Link -->
						<a href="#" class="work-image ex-link">
							<!-- Item Image -->
							<img src="../../static/img/library/thumb/742x458.jpg" alt="" />
							<!-- Item Details -->
							<div class="item-details">
								<!-- Item Header -->
								<h4 class="text-maj">
									Lightbox 4
								</h4>
								<!-- Item Strips -->
								<span class="clean-portfolio-strips"></span>
								<!-- Item Description -->
								<p>
									branding
								</p>
							</div>
							<!-- End Item Details -->
						</a>
						<!-- End Item Link -->
					</div>
					<!-- End Item Inner -->
				</div>
				<!-- End Item -->


				
				
			</div><!-- End Portfolio Items -->

			<!-- Load More Button -->
			<a href="clean-portfolio.html" class="clean-portfolio-view-more uppercase ex-link">
				<i class="fa fa-plus fa-3x"></i>
			</a>
			
		</div><!-- End Portfolio -->
	</section><!-- End Portfolio Section -->
   
  
        
</body>
</html>
