/*
Syntax error: Undefined mixin 'text-shadow'.
        on line 6 of /home/openerp/workspace/odoo/design-themes/theme_gourmand/static/src/css/snippets.sass, in `text-shadow'
        from line 6 of /home/openerp/workspace/odoo/design-themes/theme_gourmand/static/src/css/snippets.sass

1: .parallax
2:   h1
3:     font-size: 9em
4:     color: rgb(255,255,255)
5:     font-family: "Dancing Script",cursive
6:     +text-shadow(0 0 10px rgba(0,0,0,.5))
7:     @media only screen and (min-width:400px)
8:       font-size: 4em !important
9:     @media only screen and (min-width:600px)
10:       font-size: 7em !important
11:     @media only screen and (min-width:900px)

Backtrace:
/home/openerp/workspace/odoo/design-themes/theme_gourmand/static/src/css/snippets.sass:6:in `text-shadow'
/home/openerp/workspace/odoo/design-themes/theme_gourmand/static/src/css/snippets.sass:6
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:253:in `visit_mixin'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `map'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `map'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `map'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/visitors/perform.rb:7:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/tree/root_node.rb:20:in `render'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/engine.rb:315:in `_render'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/engine.rb:262:in `render'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/plugin/compiler.rb:201:in `each'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/plugin/compiler.rb:235:in `watch'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/plugin.rb:107:in `method_missing'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/exec.rb:463:in `watch_or_update'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/exec.rb:326:in `process_result'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/exec.rb:41:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.2.18/lib/sass/exec.rb:21:in `parse!'
/var/lib/gems/1.9.1/gems/sass-3.2.18/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'text-shadow'.\A         on line 6 of /home/openerp/workspace/odoo/design-themes/theme_gourmand/static/src/css/snippets.sass, in `text-shadow'\A         from line 6 of /home/openerp/workspace/odoo/design-themes/theme_gourmand/static/src/css/snippets.sass\A \A 1: .parallax\A 2:   h1\A 3:     font-size: 9em\A 4:     color: rgb(255,255,255)\A 5:     font-family: \"Dancing Script\",cursive\A 6:     +text-shadow(0 0 10px rgba(0,0,0,.5))\A 7:     @media only screen and (min-width:400px)\A 8:       font-size: 4em !important\A 9:     @media only screen and (min-width:600px)\A 10:       font-size: 7em !important\A 11:     @media only screen and (min-width:900px)"; }
